.card{
    border-radius: 20px; 
    box-shadow: 0 0 3px #ccc;
    
    border:2px solid black;
    max-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    
    

}
.card img{
    max-width: 300px;
    max-height: 200px;
}

